*{
	margin: 0;
	padding: 0;
}

hr{ 
	margin: 0 40px;
	border:2px solid red;
}

div{
    margin-bottom: 20px; 
	border-width:3px;
	border-style:dashed;
	border-color:#ccc;
}

section{
    margin-top: 50px;
    padding-top: 20px;
	border-bottom: 1px dashed blue;
}
h1{
	margin-top: 10px;
	margin-right: 40px;
}

h2{ 
	border-top: 1px solid orange;
	border-bottom: 2px groove red;
	border-left: 3px dashed green;
	border-right: 4px dotted blue;
}