*{
	margin: 0;
	padding: 0;
}

#container {
	padding: 7% 33%;
	height: 447px;
	background: url(https://i.pinimg.com/564x/20/85/c2/2085c2ef353a238ecb041ddfb516035b.jpg);
}
.verde{
	width: 150px;
	height: 150px;
	background-color:#5EE895; 
}
.celeste {
	width: 150px;
	height: 150px;
	background-color:#70C4B1;
	}

/*#iz, #der, #cen {
	float: left;
}*/
#monstera{
	padding:30px 0 0 30px;
}
#rhodo{
	padding:30px 0 0 10px
}

div#pattern:hover, div#pattern:active{
	background-color:url(https://i.pinimg.com/564x/d1/41/71/d14171aaa5ca9f46c6b24c0fa0f490ae.jpg);
}
