.caja{
	border:1px solid black;
	padding: 30px;
	font-size: 30px;
}
.caja#azul{
	background: cyan;
}
.caja#rojo{
	background: red;
}
.caja#rosa{
	background: pink;
}
#gris{
	background: lightgrey;
}
#grisos{
	background: darkgrey;
}
	
